h1
{
    padding: 1em;
    font-size: 3em;
}

h1 a
{
    color: #ffffff;
}

body 
{
    font-size: 1em;
    color: #ffffff;
    background-color:#000000;
    text-align: center;
}

a {
    color: #aaaaaa;
}

a:hover 
{
    color: #cccccc;
}

nav a 
{
    padding: 1em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

nav a:hover
{
    background-color:#333333;
}

.login {
    padding: 0.5em;
}

.login a {
    padding: 0.5em;
}

.scoreboarditem 
{
    margin: 1em;
    padding: 0.75em;
    background-color: #111111;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.whitelink a{
    color: #ffffff;
}

a.whitelink{
    color: #ffffff;
}

.scorelist {
    text-align: left;
}

.footer {
    padding-top: 50px;
}

.footer a {
    color: #555555;
    padding: 0.5em;
}

input[type=text], input[type=password] {
    width: 10em;
}

.short {
    width: 3em;
}