<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EncryptionSettings.HashAlgorithm" value="SHA1" />
    <add key="EncryptionSettings.InitVector" value="InitVector123456" />
    <add key="EncryptionSettings.KeySize" value="256" />
    <add key="EncryptionSettings.PassPhrase" value="PassPhrase" />
    <add key="EncryptionSettings.PasswordIterations" value="2" />
    <add key="EncryptionSettings.SaltValue" value="SaltValue" />
  </appSettings>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url = http://localhost:8080"/>
  </connectionStrings>
</configuration>