<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.286" />
  <package id="FubuCore" version="0.9.9.153" />
  <package id="FubuLocalization" version="0.9.5.46" />
  <package id="FubuMVC.References" version="0.9.8.986" />
  <package id="FubuTestingSupport" version="0.9.9.153" />
  <package id="HtmlTags" version="1.1.0.73" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RavenDB.Client" version="1.0.960" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="structuremap" version="2.6.3" />
  <package id="structuremap.automocking" version="2.6.3" />
</packages>