<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.286" />
  <package id="FubuCore" version="0.9.9.153" />
  <package id="FubuLocalization" version="0.9.5.46" />
  <package id="FubuMVC.Coffee" version="0.0.1.216" />
  <package id="FubuMVC.Diagnostics" version="0.9.8.986" />
  <package id="FubuMVC.References" version="0.9.8.986" />
  <package id="FubuMVC.Spark" version="0.9.8.986" />
  <package id="HtmlTags" version="1.1.0.73" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB.Client" version="1.0.992" targetFramework="net40" />
  <package id="Spark" version="1.7.2.0" />
  <package id="structuremap" version="2.6.3" />
</packages>