<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.334" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.174" targetFramework="net40" />
  <package id="FubuKayak" version="0.9.8.1094" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.72" targetFramework="net40" />
  <package id="FubuMVC.References" version="0.9.8.1094" targetFramework="net40" />
  <package id="FubuMVC.TestingHarness" version="0.9.8.1094" targetFramework="net40" />
  <package id="FubuTestingSupport" version="0.9.9.174" targetFramework="net40" />
  <package id="Gate" version="0.14" targetFramework="net40" />
  <package id="Gate.Kayak" version="0.1.4" targetFramework="net40" />
  <package id="HtmlTags" version="1.1.0.96" targetFramework="net40" />
  <package id="Kayak" version="0.7.2" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" targetFramework="net40" />
  <package id="Owin" version="0.14" targetFramework="net40" />
  <package id="Owin.Startup" version="0.3" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="structuremap.automocking" version="2.6.4.1" targetFramework="net40" />
</packages>